<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table">
    <tbody>
      {% block package_additional_info %}
      {% endblock %}
    </tbody>
  </table>
</section>
