{% ckan_extends %}
  {% block resource_item_title %}
  <a class="heading" onclick="onClickShowItem('{{res.id}}')" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(80) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {#{ h.popular('views', res.tracking_summary.total, min=10) }#}
  </a>
  {% if res.tracking_summary and False %}
  <span class="textRecentViews">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    {{res.tracking_summary.total}} downloads
  </span>
  {% endif %}
  {% endblock %}