{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
    'name',
    'description',
    'url',
    'format',
    ] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% block resource_data_dictionary %}
      {{ super() }}
    {% endblock %}
  {% endif %}

  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      <tbody>
        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_license -%}
          <tr>
            <th scope="row">{{ _('License') }}</th>
            <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
          {% set form_data_type = field.form_data_type %}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
                {% if pkg.data_type in form_data_type %}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
              {% endif %}
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
        {%- block resource_created -%}
            {% if res.created_at %}
            <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.thai_gdc_day_thai(h.date_str_to_datetime(res.created_at)) }}</td>
            </tr>
            {% endif %}
        {%- endblock -%}
        {%- block resource_last_updated -%}
            {% if res.last_modified %}
            <tr>
            <th scope="row">{{ _('Last Updated') }}</th>
            <td>{{ h.thai_gdc_day_thai(h.date_str_to_datetime(res.last_modified)) }}</td>
            </tr>
            {% endif %}
        {%- endblock -%}
      </tbody>
    </table>
  </div>
{% endblock %}