{% ckan_extends %}

{% if q is not defined %}{% set q = c.q %}{% endif %}
{% if fields_grouped is not defined %}{% set fields_grouped = c.fields_grouped %}{% endif %}
{% if search_facets is not defined %}{% set search_facets = c.search_facets %}{% endif %}
{% if facet_titles is not defined %}{% set facet_titles = c.facet_titles %}{% endif %}
{% if translated_fields is not defined %}{% set translated_fields = c.translated_fields %}{% endif %}
{% if remove_field is not defined %}{% set remove_field = c.remove_field %}{% endif %}
{% if sort_by_selected is not defined %}{% set sort_by_selected = c.sort_by_selected %}{% endif %}
{% if fields is not defined %}{% set fields = c.fields %}{% endif %}
{% if page is not defined %}{% set page = c.page %}{% endif %}

{% block page_primary_action %}
  {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
    {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
    {% if group_dict.id and c.userobj.sysadmin %}
      <a class="btn btn-primary" href="/ckan-admin/dataset-import?import_org={{ group_dict.name }}"><i class="fa fa-cloud-upload"></i> Import from template</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block groups_search_form %}
    {# This is the same as the original BUT we also pass the 'include_children_option' parameter to the snippet #}
    {% set facets = {
        'fields': fields_grouped,
        'search': search_facets,
        'titles': facet_titles,
        'translated_fields': translated_fields,
        'remove_field': remove_field }
    %}
    {% set sorting = [
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    {% set fields = [] %}
    {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=fields, include_children_option=true %}
{% endblock %}

{% block organization_facets %}
  <div class="filters">
    <div>
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['organization'], name='organization', extras={'id':group_dict.id}) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['groups'], name='groups', extras={'id':group_dict.id}) }}
      <!-- {{ h.snippet('snippets/facet_list.html', title=facet_titles['res_format'], name='res_format', extras={'id':group_dict.id}) }} -->
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}