{% ckan_extends %}

{% block breadcrumb_content %}
    {% if pkg %}
        {% set dataset = h.dataset_display_name(pkg) %}
        {% if pkg.organization %}
            {% set organization = pkg.organization.title %}
         
            {% if pkg.groups|length > 0 %} 
              <li class="groups">{% link_for _('Groups'), named_route='group.index' %}</li>
              <li class="groups">{% link_for pkg.groups[0].display_name|truncate(35), named_route='group.read', id=pkg.groups[0].name %}</li>
              {% else %}
              <li class="organization">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
              <li class="organization">{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
            {% endif %}
              <li class="organization">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
              <li class="organization">{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
           
            <!-- <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li> -->
            <!-- {% set parent_list =  h.group_tree_parents(pkg.organization.name)  %}
            {% for parent_node in parent_list %}
                <li>{% link_for  parent_node.title|truncate(35), controller='organization', action='read', id=parent_node.name %}</li>
            {% endfor %} -->
            <!-- <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li> -->
        {% else %}
            <li>{% link_for _('Datasets'), controller='dataset' if h.ckan_version().split('.')[1] | int >= 9 else 'package', action='search' %}</li>
        {% endif %}
        <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='dataset' if h.ckan_version().split('.')[1] | int >= 9 else 'package', action='read', id=pkg.name %}</li>
    {% else %}

        <li>{% link_for _('Datasets'), controller='dataset' if h.ckan_version().split('.')[1] | int >= 9 else 'package', action='search' %}</li>
        <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
    {% endif %}

{% endblock %}

{% block primary %}
<div class="primary col-sm-12 col-xs-12" role="main">
  {% block primary_content %}
    <article class="module">
      {% block page_header %}
        <header class="module-content">
          {% if self.content_action() | trim %}
            <div class="content_action" style="float: right;">
              {% block content_action %}{% endblock %}
            </div>
          {% endif %}
          <ul class="nav nav-tabs">
            {% block content_primary_nav %}{% endblock %}
          </ul>
        </header>
      {% endblock %}
      <div class="module-content">
        {% if self.page_primary_action() | trim %}
          <div class="page_primary_action">
            {% block page_primary_action %}{% endblock %}
          </div>
        {% endif %}
        {% block primary_content_inner %}
        {% endblock %}
      </div>
    </article>
  {% endblock %}
</div>
 <script>
      let page_name = document.referrer.split('/')[3]
      if(page_name == 'organization'){
        $(".organization").show();
        $(".groups").hide();
      }else{
        $(".organization").hide();
        $(".groups").show();
      }
      console.log("doc_referral",document.referrer.split('/')[3])
    </script>
{% endblock %}

  
