{% extends "package/read_base.html" %}

{% block primary_content_inner %}
{{ super() }}

<div class="row">
  <div class="col-md-3">
    {% set is_activity_archive = true %}
    {% set resources = pkg.resources %}
      <section id="dataset-resources" class="resources">
        <h2>ข้อมูล</h2>
          {% if resources %}
            <ul class="{% block resource_list_class %}resource-list{% endblock %}">
                {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
                {% for resource in resources %}
                    {% set res = resource %}
                    <li class="resource-item" onclick="onClickShowItem('{{res.id}}',this)" data-id="{{ res.id }}">
                        <a class="heading" title="{{ res.name or res.description }}">
                          {{ h.resource_display_name(res) | truncate(80) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
                          {#{ h.popular('views', res.tracking_summary.total, min=10) }#}
                        </a>
                         <!-- tracking_summary-->
                        {% if res.tracking_summary and False %}
                        <span class="textRecentViews">
                          <i class="fa fa-line-chart" aria-hidden="true"></i>
                          {{res.tracking_summary.total}} downloads
                        </span>
                        {% endif %}
                        <p class="description">
                          {% if res.description %}
                            {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
                          {% endif %}
                        </p>
                        
                        <!-- HIDE BTN Dowload -->
                        {% if res.url and h.is_url(res.url) and False %}
                        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
                          {% if res.has_views or res.url_type == 'upload' %}
                            <i class="fa fa-arrow-circle-o-down"></i>
                            {{ _('Download') }}
                          {% else %}
                            <i class="fa fa-external-link"></i>
                            {{ _('Go to resource') }}
                          {% endif %}
                        </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
          {% else %}
            {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
                {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
                  <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
                {% endtrans %}
            {% else %}
                <p class="empty">{{ _('This dataset has no data') }}</p>
            {% endif %}
          {% endif %}
      </section>
  </div>
  <div class="col-md-9" style="border: 1px solid #dddddd;
                                padding: 15px;
                                margin-bottom: 10px;
                                border-radius: 10px;">
        {% block package_description %}
        <style>
          .label {
            color: white;
            padding: 8px;
          }
          .gdcatalog-warning {
            background-color: #e56100;
            margin-left: 10px;
            margin-right: 0px;
          }
          .gdcatalog-success {
            background-color: #2a612a;
            margin-right: 0px;
          }
        </style>
        {% set gdcatalog_status_show = h.thai_gdc_get_gdcatalog_status_show() %}
          {% if gdcatalog_status_show == 'true' and pkg.allow_harvest != 'False' and (not pkg.reference_url_catalog or pkg.reference_url_catalog == '') %}
          <div class="text-right" style="margin-bottom: 20px;">
            {% set return_state = h.thai_gdc_get_gdcatalog_state('published', pkg.id) %}
            {% if return_state | length > 0 and 'result' in return_state %}
              {% set metadata_modified = return_state.get('result')[0]['metadata_modified'] %}
              {% if metadata_modified != '' %}
              {% set gdcatalog_portal_url = h.thai_gdc_get_gdcatalog_portal_url() %}
              <span class="label label-inverse gdcatalog-success">
                <a href="{{ gdcatalog_portal_url }}/dataset/gdpublish-{{ return_state.get('result')[0]['name'] }}" target="_blank" style="color: white;">
                  <i class="fa fa-check"></i>
                  GD-Catalog: {{ _('COMPLETED') }} เมื่อ {{ h.thai_gdc_day_thai(h.date_str_to_datetime(metadata_modified)) }}
                </a>
              </span>
              {% endif %}

              {% if h.check_access('package_update', {'id':pkg.id }) %}
                {% set return_state = h.thai_gdc_get_gdcatalog_state('nonpublish', pkg.id) %}
                {% set state = return_state.get('result')[0]['governance_state'] %}
                {% if state != '' %}
                  {% set validate_time = return_state.get('result')[0]['validate_time'] %}
                  {% if state == 'VALIDATE' and validate_time == '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('WAIT_VALIDATE') }}
                  </span>
                  {% elif state == 'VALIDATE' and validate_time != '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('VALIDATE') }}
                  </span>
                  {% elif state == 'VALIDATE_MODIFIED' and validate_time == '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('WAIT_VALIDATE_MODIFIED') }}
                  </span>
                  {% elif state == 'VALIDATE_MODIFIED' and validate_time != '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('VALIDATE_MODIFIED') }}
                  </span>
                  {% elif state == 'APPROVAL' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('APPROVAL') }}
                  </span>
                  {% elif state == 'WAIT_REVOKE' and validate_time == '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('WAIT_REVOKE') }}
                  </span>
                  {% elif state == 'WAIT_REVOKE' and validate_time != '' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('VALIDATE_REVOKE') }}
                  </span>
                  {% elif state == 'REVOKE' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('REVOKE') }}
                  </span>
                  {% elif state == 'WAIT' %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    GD-Catalog: {{ _('WAIT') }}
                  </span>
                  {% elif state == 'REJECT' %}
                  {% set modified_at = return_state.get('result')[0]['metadata_modified'] %}
                  <span class="label label-inverse gdcatalog-warning">
                    <i class="fa fa-lock"></i>
                    {% if h.thai_gdc_convert_string_todate(pkg.metadata_modified, "%Y-%m-%dT%H:%M:%S.%f") > h.thai_gdc_convert_string_todate(modified_at, "%Y-%m-%dT%H:%M:%S.%f") %}
                    GD-Catalog: {{ _('REJECT') }} (ปรับปรุงแล้ว)
                    {% else %}
                    GD-Catalog: {{ _('REJECT') }}
                    {% endif %}
                  </span>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
          {% endif %}

          {% if pkg.private %}
          <span class="dataset-private label label-inverse pull-right">
            <i class="fa fa-lock"></i>
            {{ _('Private') }}
          </span>
          {% endif %}
          {% block package_archive_notice %}
          {% if is_activity_archive %}
          <div class="alert alert-danger">
            {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
            You're currently viewing an old version of this dataset. To see the
            current version, click <a href="{{ url }}">here</a>.
            {% endtrans %}
          </div>
          {% endif %}
          {% endblock %}
        <h1>
          {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
          {% endif %}
          {% endblock %}
        </h1>
          
          {% block package_notes %}
          {% if pkg.notes %}
          <div class="notes embedded-content">
            {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
          </div>
          {% endif %}
          {% endblock %}

        <span class="insert-comment-thread"></span>
          <div class="resource-view">
          {% set respose = pkg.resources %}
          {% for res in respose %}
            <div class="resource-view-page {{ res.id }}" style="display: none">
                {% set resource_views = h.kea_viewResourceById(res.id) %}
                {% if res %}

                <div style="display: flex; justify-content: space-between;">
                  <ul class="nav nav-tabs nav-tabs-plain">
                      {% for view in resource_views %}
                      {% set is_selected = true if loop.index == 1 else false %}
                        <li onclick="onClickViewItem('{{ view.id }}',this)" class="menu-view {{ view.id }} {% if is_selected %} active{% endif %}" data-id="{{ view.id }}">
                          <a data-id="{{ view.id }}">
                            <i class="fa icon fa-{{ h.resource_view_icon(view) }}"></i>
                            {{ view.title }}
                          </a>
                        </li>
                      {% endfor %}
                  </ul> 
                </div>

            <div style="text-align: center; margin-top : 1rem;">
                  {% if res.datastore_active %}
                  <button class="btn btn-success" onclick="getApi('{{res.id}}')">
                    <i class="fa fa-flask fa-lg"></i>
                    {{ _('Data API') }}
                  </button>

                  {% set site_url_list = g.site_url.split('//') %}
                  {% set opend_playground_url = h.thai_gdc_get_opend_playground_url() %}
                  {% if pkg.private == False and opend_playground_url %}
                    <a class="btn btn-warning resource-url-analytics resource-type-{{ res.format }}" href="{{ opend_playground_url }}/{{site_url_list[1]}}/ckan/{{res.id}}">
                      <i class="fa fa-bar-chart"></i> Visualization
                    </a>
                    {% else %}
                    <a class="btn btn-warning resource-url-analytics disabled resource-type-{{ res.format }} " href="#">
                      <i class="fa fa-bar-chart"></i> Visualization
                    </a>
                    {% endif %}
                  {% endif %}

                  {% if not(res.format == 'CSV' or res.format == 'XLS' or res.format == 'XLSX') or res.datastore_active %}
                    <button class="btn btn-info" type="button" title="แสดงผลเต็มหน้าจอ" onclick="goToFullscreen();"> 
                      <i class="fa fa-arrows-alt"></i>
                      แสดงผลเต็มหน้าจอ
                    </button>
                  {% endif %}

                  {% if h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
                  <button class="btn btn-info" onclick="goToEdit()">
                    <i class="fa fa-wrench"></i>
                    {{ _('จัดการทรัพยากร') }}
                  </button>
                  {% endif %}
              </div> 

                <div class="resource-view">
                  {% for resource_view in resource_views %}
                    {% if not(res.format == 'CSV' or res.format == 'XLS' or res.format == 'XLSX') or res.datastore_active %}
                        {% set hideItem = true if loop.index == 1 else false %}
                        {% if hideItem %}
                        <iframe class="resource-view-item {{resource_view.id}}" style="width: 100%;" height="1000" src="" frameBorder="0"></iframe>
                        {% else %}
                        <iframe class="resource-view-item {{resource_view.id}}" height="1000" style="width: 100%; display: none" src="" frameBorder="0"></iframe>
                        {% endif %}
                      {% else %}
                        <div class="data-viewer-error">
                          <p class="text-danger">
                            <i class="fa fa-info-circle"></i>
                            {{ _('This resource view is not available at the moment.') }}
                            <a data-toggle="collapse" data-target="#data-view-error">
                              {{ _('Click here for more information.') }}
                            </a>
                          </p>
                        </div>
                        <div id="data-view-error" class="collapse">
                          {% if res.format == 'CSV' %}
                          <p>ไฟล์ข้อมูล CSV อาจพบปัญหา ดังนี้</p>
                          <ul>
                            <li>ข้อมูลอาจไม่อยู่ในรูปแบบตารางทางเดียว (one-way table) ที่จะต้องจำแนกตามชื่อฟิลด์ในบรรทัดแรกของตารางเท่านั้น</li>
                            <li>บางหัวคอลัมน์มีข้อความยาวเกิน 21 ตัวอักษรกรณีใช้ภาษาไทย หรือเกิน 63 ตัวอักษรกรณีใช้ภาษาอังกฤษ</li>
                          </ul>
                          {% elif res.format == 'XLS' or res.format == 'XLSX' %}
                          <p>ไฟล์ข้อมูล Excel อาจพบปัญหา ดังนี้</p>
                          <ul>
                            <li>ข้อมูลที่จะให้แสดงผลไม่ได้อยู่ชีทสุดท้ายของไฟล์ หรือไฟล์มีมากกว่า 1 ชีท</li>
                            <li>ข้อมูลอาจไม่อยู่ในรูปแบบตารางทางเดียว (one-way table) ที่จะต้องจำแนกตามชื่อฟิลด์ในบรรทัดแรกของตารางเท่านั้น</li>
                            <li>ข้อมูลมีเซลล์ที่ถูกผสาน (merge cell)</li>
                            <li>บางหัวคอลัมน์มีข้อความยาวเกิน 21 ตัวอักษรกรณีใช้ภาษาไทย หรือเกิน 63 ตัวอักษรกรณีใช้ภาษาอังกฤษ</li>
                          </ul>
                          {% elif res.format == 'PDF' %}
                          <p>ไฟล์ข้อมูล PDF อาจพบปัญหา ดังนี้</p>
                          <ul>
                            <li>URL ของไฟล์มีลักษณะการเข้าถึงแบบไม่ปลอดภัย หรือไม่ได้ใช้โปรโตคอล HTTPS ซึ่งสามารถแก้ไขได้จากเครื่องเซิร์ฟเวอร์ต้นทาง</li>
                            <li>URL ของไฟล์มีการตั้งค่าป้องกันการแสดงผลบนเว็บไซต์อื่นอย่างถูกต้องแล้ว <a href="{{ res.url }}" target="_blank">คลิกที่นี่เพื่อเปิดไฟล์</a></li>
                          </ul>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                </div>


                  <section class="module">
                    <div class="module-content">
                      <h2>{{ _('ข้อมูลทรัพยากร') }} : {{h.resource_display_name(res)}}</h2>
                      
                      <div class="prose notes" property="rdfs:label">
                        {% if res.description %}
                          <h3>{{ _('รายละเอียด') }}</h3>
                          <blockquote>{{ h.render_markdown(res.description) }}</blockquote>
                        {% endif %}
                      </div>

                      <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
                        <thead>
                          <tr>
                            <th scope="col">{{ _('Field') }}</th>
                            <th scope="col">{{ _('Value') }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr>
                            <th scope="row">{{ _('รหัสทรัพยากรข้อมูล') }}</th>
                            <td>{{ res.id }}</td>
                          </tr> -->
                          <!-- <tr>
                            <th scope="row">{{ _('วันที่ปรับปรุงไฟล์/ลิงค์ข้อมูลใน Catalog') }}</th>
                            <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
                          </tr> -->
                          <!-- <tr>
                            <th scope="row">{{ _('สร้างในระบบเมื่อ') }}</th>
                            <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                          </tr> -->
                          <tr>
                            <th scope="row">แหล่งที่มา</th>
                            <td>{{res.hash}}</td>
                          </tr>
                          <tr>
                            <th scope="row">{{ _('รูปแบบของไฟล์ข้อมูล') }}</th>
                            <!-- <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td> -->
                            <td>API</td>
                          </tr>
                          <tr>
                            <th scope="row">{{ _('วันที่ปรับปรุง metadata') }}</th>
                            <td>{{ h.thai_gdc_day_thai(h.date_str_to_datetime(res.metadata_modified))}}</td>
                          </tr>
                          <!-- <tr>
                            <th scope="row">{{ _('License') }}</th>
                            <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
                          </tr> -->
                          <!-- {% for key, value in h.format_resource_items(res.items()) %}
                            <script>console.log('{{key}}', '{{value}}');</script>
                            {% if key not in ('created', 'metadata modified', 'last modified', 'format' , 'Media type' , 'has views' , 'created at' , 'package id' , 'id') %}
                              <tr class="toggle-more"><th scope="row">{{ key | capitalize }}</th><td>{{ value }}</td></tr>
                            {% endif %}
                          {% endfor %} -->
                        </tbody>
                      </table>
                    </div>
                  </section>


              {% endif %}
            </div>

            

          {% endfor %}
          </div>

        {% endblock %}

        {% block package_resources %}
        {% endblock %}

        

  </div> <!-- END COL 9  -->
</div>

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}