{% ckan_extends %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
  <script type="text/javascript">

    // DISABLE CHECK LOGIN
    // let getLogin = "{{c.user}}"
    // if(!getLogin){
    //   window.location.href = "/user/login"
    // }

    let query =  new URL(window.location.href).searchParams.get("q");
    $( document ).ready(function() {
    let res_id = (query)?  query : $($(".resource-item").get(0)).data('id') 
    console.log("res_id => " , res_id);
    if(res_id){
        $(`[data-id="${res_id}"]`).addClass("active")

        const selectElementView =  $(`.${res_id}`)
        selectElementView.show('fast')
        $(selectElementView.find($('ul li')).get(0)).addClass('active')
        $(selectElementView.find($('.resource-view iframe')).get(0)).show('fast')
      
        let data_id = $(selectElementView.find($('ul li')).get(0)).data('id')
        selectViewItem = {"id" : res_id , "view_id" : data_id}
        let url = window.location.pathname+`/resource/${selectViewItem.id}/view/${selectViewItem.view_id}`
        $(selectElementView.find($('.resource-view iframe')).get(0)).attr("src", url);
    }
  });

  </script>
{% endblock -%}

{% block content_action %}
{{ super() }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% if h.ckan_version() > '2.9' %}
      {% link_for _('Add new resource'), named_route=c.pkg_dict.type ~ '_resource.new', id=c.pkg_dict.name, class_='btn btn-default', icon='plus' %}
    {% else %}
      {% link_for _('Add New Resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-default', icon='plus' %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', _('Groups'), id=pkg.id if is_activity_archive else pkg.name, icon='users') }}
  <!-- HIDE ความเคลื่อนไหว -->
  <!-- {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='clock-o') }} -->
{% endblock %}