{% ckan_extends %}

{% macro license_string(pkg) %}
  {% if 'license_url' in pkg %}
    <a href="{{ pkg.license_url }}" rel="dc:rights">{{ pkg.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg.license_title }}</span>
  {% endif %}
{% endmacro %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.datastore_active %}
  {% set site_url_list = g.site_url.split('//') %}
  {% set opend_playground_url = h.thai_gdc_get_opend_playground_url() %}
    {% if pkg.private == False and opend_playground_url %}
    <li>
      <a class="btn btn-warning resource-url-analytics resource-type-{{ res.format }}" href="{{ opend_playground_url }}/{{site_url_list[1]}}/ckan/{{res.id}}">
      <i class="fa fa-bar-chart"></i> Visualization
      </a>
    </li>
    {% else %}
    <li>
      <a class="btn btn-warning resource-url-analytics resource-type-{{ res.format }} disabled" href="#">
      <i class="fa fa-bar-chart"></i> Visualization
      </a>
    </li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) }}</h1>{% endblock %}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
  {% block resource_data_dictionary %}
    <div class="module-content">
      <h2>{{ _('Data Dictionary') }}</h2>
      <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
        <thead>
          {% block resouce_data_dictionary_headers %}
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Data Type') }}</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col">{{ _('Required') }}</th>
            <th scope="col">{{ _('Example') }}</th>
          </tr>
          {% endblock %}
        </thead>
        {% block resource_data_dictionary_data %}
          {% set dict=h.datastore_dictionary(res.id) %}
          {% for field in dict %}
            {% snippet "package/snippets/dictionary_table.html", field=field %}
          {% endfor %}
        {% endblock %}
      </table>
    </div>
  {% endblock %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block secondary_content %}
  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  <section class="module module-narrow module-shallow license">
    {% block license_title %}
      <h2 class="module-heading"><i class="fa fa-lock"></i> {{ _('License') }}</h2>
    {% endblock %}
    {% block license_content %}
      <p class="module-content">
        {% block license_content_inner %}
          {{ license_string(pkg) }}
          {% if pkg.isopen %}
            <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
                <img class="open-data" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
            </a>
          {% endif %}
        {% endblock %}
      </p>
    {% endblock %}
  </section>

{% endblock %}