{% ckan_extends %}

{% block secondary_content %}
  <div class="filters">
    <div>
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['organization'], name='organization', search_facets=search_facets) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['groups'], name='groups', search_facets=search_facets)}}

    {#
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['organization'], name='organization', search_facets=search_facets) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['data_type'], name='data_type', search_facets=search_facets) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['data_category'], name='data_category', search_facets=search_facets) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['license_id'], name='license_id', search_facets=search_facets) }}
    #}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
<!-- Default Sort -->
{% block form %}
{% set facets = {
  'fields': fields_grouped,
  'search': search_facets,
  'titles': facet_titles,
  'translated_fields': translated_fields,
  'remove_field': remove_field }
%}
{% set sorting = [
  (_('Name Ascending'), 'title_string asc'),
  (_('Name Descending'), 'title_string desc'),
  (_('Last Modified'), 'metadata_modified desc'),
  (_('Relevance'), 'score desc, metadata_modified desc'),
  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
%}

<script type="text/javascript">
  console.log("sort => " , '{{sort_by_selected}}'  , "q => " ,'{{q}}' , "data_type => " ,'{{dataset_type}}' , "query_error => " , '{{query_error}}')
</script>

{% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
{% endblock %}