<footer class="site-footer">
    <div class="container" style="padding-left: 0px;">
      {% block footer_content %}
      <div class="blockFooter">
          {% block footer_nav %}
           <div class="bgFooterTop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-map-marker iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_address) }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-phone iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_contact) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top"><i class="fa fa-envelope iconFooter" aria-hidden="true"></i></td>
                                            <td style="vertical-align:top">{{ h.render_markdown(g.site_org_email) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row">
                                {% block footer_attribution %}
                                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                    <span>
                                        จำนวนผู้เข้าชม <span class="totalVisitor">{{ h.thai_gdc_get_stat_all_view() }}<!-- at {{ h.thai_gdc_get_last_update_tracking() }} --></span>
                                    </span>
                                </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-right mt-1">
                                        {{ h.render_markdown(g.site_policy_link) }}
                                    </div>
                                
                                {% block footer_lang %}
                                    {% snippet "snippets/language_selector.html" %}
                                {% endblock %}
                                <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex;justify-content: end;padding-left: 0px;margin-top: 10px;flex-direction: column;text-align: end;">
                                    <span><span style="font-weight: bold;vertical-align: bottom;margin-right: 5px;color:rgba(255,255,255,0.85);">Powered by:</span><a class="hide-text ckan-footer-logo" href="http://ckan.org" target="_blank" style="padding-right: 5px;"><img src="/base/images/ckan-logo-footer.png"></a>
                                        <br/>
                                    </span>
                                <span>
                                    <small style="vertical-align: sub;">รุ่นโปรแกรม: 1.0.0</small><br/>
                                    <small style="vertical-align: sub;line-height: 2.6;">วันที่: 28-01-2565</small>
                                </span>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endblock %}
      </div>
      {% endblock %}
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>
  