{# 
  <!-- {% block header_account_logged %}
<li>
  <a href="/user" title="{{ _('User') }}">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span class="text">{{ _('User') }}</span>
  </a>
</li>
  {{ super() }}
{% endblock %}  -->
#}

{% ckan_extends %}



{% block header_wrapper %} {% block header_account %}
<style>

  .masthead .nav > li > a{
    color: #113845 !important;
  }
  
  .masthead .nav > li > a:hover{
    border-radius: 15px !important;
  }
  
  </style>
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %}
          <li>
            <a href="/user" title="{{ _('User') }}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="text">{{ _('User') }}</span>
            </a>
          </li>
          {{ super() }}
        {% endblock %} 
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed" aria-label="{{ _('Account') }}">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</div>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %} {% if g.site_logo %}
      <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
      {% else %}
      <h1>
        <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
      </h1>
      {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} {% endblock %}
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav navbar-nav">
            {% block header_site_navigation_tabs %}
                <li><a href="/">หน้าแรก</a></li>
                {{ h.build_nav_main(
                  ('dataset.search', _('Datasets')),
                  ('organization.index', _('Organizations')),
                  ('home.about', _('About')) ) }}
	    {% endblock %}
        </ul>
      </nav>
      {% endblock %} 
      
      {#
      <!-- {% block header_site_search %}
      <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
        <div class="field">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" aria-label="{{ _('Search datasets') }}"/>
          <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
        </div>
      </form>
      {% endblock %} -->
      #}

    </div>
  </div>
</header>
{% endblock %}
