{% if g.search_background %} {% set background = g.search_background %} {% else
  %} {% set background = '/base/images/CKANBG3.png' %} {% endif %}
  
  <style>
    .homepage .stats ul li {
      float: center;
      width: 33%;
    }

    .imgBGCKAN {
      background-image: url('{{ background }}');
      background-size: 1500px auto;
      background-position-x: right;
      background-repeat: no-repeat;
      height: 850px;
    }
    .textHeadBorderMiddle{
      text-align: center;
      color: #070747;
      font-size: 28px;
      border-bottom: 2px solid #636363;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    .textHeadBorderMiddle > span {
      background-color: #ffffff;
      padding: 0 10px;
    }

    @media (min-width: 992px){
    .col-md-2-5{
      width: 20% !important;
    }
  }

  </style>
  <div role="main">
    <div class="container">
      <div class="row row1 imgBGCKAN" >
        <div class="col-md-6" style="position: unset; text-align: center">
          {% block search %} {% snippet 'home/snippets/search.html' %} {% endblock
          %}
        </div>
      </div>
    </div>
  </div>
  
  <div role="main" style="display: none">
    <div class="container">
      <div class="row row3">
        <div class="col-md-12 col1">
          {% block promoted %} {% snippet 'home/snippets/promoted.html' %} {%
          endblock %}
        </div>
      </div>
    </div>
  </div>
  
  <div role="main">
    <div class="container">
      <div class="textHeadBorderMiddle">
          <span>กลุ่มชุดข้อมูล</span>
      </div>
      <div class="row row2">
        {% block featured_group %} {% set stats = h.get_site_statistics() %} {%
        snippet 'home/snippets/groups.html', stats=stats %} {% endblock %}
      </div>
    </div>
  </div>
  