{% block group_item %}
      <style>
          .newMenuIcon{
            width: 100%;
            float: left;
            height: auto;
            line-height: 50px;
            text-align: center;
            margin-right: 15px;
          }

          .boxMenu{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
          }

          .imageRadius{
            /* border-radius: 100px; */
            width: auto;
            height: 150px;
          }
      </style>
  <section class="group-list module module-narrow module-shallow">
    {% block group_item_header %}
      <header class="boxMenu">
        {% set truncate=truncate or 0 %}
        {% set truncate_title = truncate_title or 0 %}
        {% set title = group.title or group.name %}
        {% block group_item_header_image %}
          <a class="" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
            <img class="imageRadius" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
          </a>
        {% endblock %}
        {% block group_item_header_title %}
          <h3 class="media-heading"><a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">{{ group.title or group.name }}</a></h3>
        {% endblock %}
        {% block group_item_header_description %}
   

                {% if group.package_count %}
                {% if group.package_count > 1 %}
                  {% set text_num = _('{num} Datasets') %}
                {% else %}
                  {% set text_num = _('{num} Dataset') %}
                {% endif %}
                <strong class="package_count">{{ text_num.format(num=group.package_count) }}</strong>
              {% elif group.package_count == 0 %}
                <span class="package_count">{{ _('0 Datasets') }}</span>
              {% endif %}
          {% endblock %}
      </header>
    {% endblock %}
 
    {% block group_item_content %}
      {% set list_class = "list-unstyled dataset-list" %}
      {% set item_class = "dataset-item module-content" %}
      {#% snippet 'snippets/package_list_home.html', packages=group.packages, list_class=list_class, item_class=item_class, truncate=120 %#}
    {% endblock %}
  </section>
{% endblock %}

