{% set groups = h.get_featured_groups(stats['group_count']) %}

{% for group in groups %}
<div class="col-md-2-5 col-sm-6" style="padding: 15px;">
  <div class="">
    {% snippet 'snippets/group_item.html', group=group, truncate=50, truncate_title=35 %}
  </div>
</div>
{% endfor %}
