{% set intro = g.site_intro_text %}
<div class="module-content">
  <div>
    {% if intro %} {{ h.render_markdown(intro) }} {% else %}
    <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
    <p>
      {% trans %}This is a nice introductory paragraph about CKAN or the site in
      general. We don't have any copy to go here yet but soon we will {%
      endtrans %}
    </p>
    {% endif %}
  </div>

  {% block home_image %}
  <section class="featured media-overlay hidden-xs">
    {% block home_image_content %} {% if g.promoted_banner %}
    <img
      class="img-responsive"
      style="min-width: 100%"
      src="{{ h.url_for_static(g.promoted_banner) }}"
      width="420"
      height="220"
    />
    {% else %}
    <img
      class="img-responsive"
      style="min-width: 100%"
      src="{{ h.url_for_static('/base/images/gdc-banner.jpg') }}"
      alt="Placeholder"
      width="420"
      height="220"
    />
    {% endif %} {% endblock %}
  </section>
  {% endblock %}
</div>
