{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('ค้นหาชุดข้อมูล') %}

<style>
  .searchNewSize-center {
    width: 80% !important;
    margin: auto !important;
  }
  .btn-sm-center{
    width: 30%;
    margin: auto;
    margin-top: 1rem;
  }

  .header-search-text{
    margin-bottom: 0 !important;
    font-size: 13rem;
    line-height: 1;
    text-shadow: 5px 5px 5px #aaaaaa;
  }
 
</style>

<div style="color: #000000; background: transparent;" class="module module-search module-narrow module-shallow">
  <form class="search-form" method="get" action="{% url_for 'dataset.search' %}">
    <h1 class="header-search-text"><small style="
        position: absolute;
        top: 2rem;
        transform: rotate(330deg);
        border: solid red;
        border-radius: 5px;
        color: white;
        background: #f00;
        font-size: medium;
        padding-inline: 15px;
        margin-left: -16px;
    ">BETA</small>{{ _("THAGRI") }}</h1>
    <p style="font-size: 3rem;">{{ _("THAGRI API CATALOG") }}</p>
    <div class="display:flex ; flex-direction: column;">
      <input class="searchNewSize-center form-control" aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button class="btn btn-danger btn-sm-center" type="submit" aria-labelledby="search-label">
        <i class="fa fa-search"></i>
        <span class="" id="search-label">{{ _('Search') }}</span>
      </button>
    </div>
  </form>

  <div>
    {% block stats %} {% snippet 'home/snippets/stats.html' %} {% endblock
      %}
  </div>
  {#
  <!-- <div class="tags" style="background-color: transparent;">
    <h3>{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
      <a class="tag" href="{% url_for 'dataset.search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}
  </div> -->
  #}
</div>
