{% ckan_extends %}
{% if sort_by_selected is not defined %}{% set sort_by_selected = "title_string asc" %}{% endif %}
{% block groups_search_form %}
{% set facets = {
  'fields': fields_grouped,
  'search': search_facets,
  'titles': facet_titles,
  'translated_fields': translated_fields,
  'remove_field': remove_field }
%}
{% set sorting = [
  (_('Name Ascending'), 'title_string asc'),
  (_('Name Descending'), 'title_string desc'),
  (_('Last Modified'), 'metadata_modified desc'),
  (_('Relevance'), 'score desc, metadata_modified desc'),
  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
%}
{% snippet 'snippets/search_form.html', form_id='group-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=fields %}
{% endblock %}

{% block secondary_content %}
   {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
   <div class="filters">
    <div>
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['organization'], name='organization', extras={'id':group_dict.id}) }}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles['groups'], name='groups', extras={'id':group_dict.id}) }}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}